/* BASIC STYLES HERE */
.q-card {
  border-top: #0e2147;
  border-left: #0e2147;
  border-right: #0e2147;
  background-color: #FFFFFF;
  
  min-width: 500px;
  margin-left: 50px;
  margin-top: 50px;
  padding: 3em;
}

.t-f-div {
  background-color: #FFFFFF;
 
  border-left: #0e2147;
  border-right: #0e2147;
  min-width: 500px;
  margin-left: 50px;
  padding: 10px;
}

.next-q-div {
  background-color: #FFFFFF;
  
  border-left: #0e2147;
  border-right: #0e2147;
  border-bottom: #0e2147;
  min-width: 500px;
  margin-left: 50px;
  padding: 10px;
}

.t-btn {
background-color: cornflowerblue;
color: aliceblue;
min-width: 130px;
margin-right: 10px;
}

.f-btn {
background-color: cornflowerblue;
color: aliceblue;
min-width: 130px;
margin-left: 10px;
}

.new-q {
  background-color: 
  #0e2147;
  min-width: 300px;
  color: aliceblue;
}